<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
</head>
<body>
    <h1>BOOK A CALL</h1>
    <p>Book a call slot and our representative with call you within 1hr of selected time</p>
    <hr>
     <form method="POST" action="/admin/contact-us">
       <label for="name">Name</label>
       <input type="text" id="name" name="name">
       <br>
       <label for="email">Email</label>
       <input type="text" id="email" name="email">

       <button type="submit">Click On</button>
     </form>
</body>
</html>